body {
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 30px;
}

.btn {
    margin-right: 10px;
}

table {
    margin-top: 20px;
}

th, td {
    text-align: center;
}

.list-group-item {
    cursor: pointer;
}
